.navbar-option-link {
  color: #212529; /* Dark text */
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-decoration: none; /* <--- Removes underline */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

.navbar-option-link:hover {
  background-color: rgba(13, 110, 253, 0.1);
  color: #6c757d; /* Lighter text on hover */
  text-decoration: none; /* Ensure underline doesn't appear on hover */
}

/* Make button match the link */
.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  vertical-align: middle;
  font: inherit;
  margin-top: -3px; 

  font-size: 1.05rem; 
}